

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loginButton {
  margin-left: 20px;
}
ul, a{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  list-style: none;
  text-decoration: none;
font-weight: bold;
}
a:hover{
  color: red;
  transition: .3s;
}
a:active{
  color: #57b400;
}
.blogLinks{
  display: flex;
  flex-direction: column;
}
nav{
  border-style: solid;
  border-color: #696767;
  background-color: grey;
}
body{
  background-color: antiquewhite;
}